.wtn-movie-card {
  position: relative;
  display: inline-grid;
  grid-template-rows: min-content 1fr;
  border: solid 1px white;
  padding: 10px;
  width: 300px;
}

.wtn-movie-card-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.2;
}
.wtn-movie-card-controls:hover {
  opacity: 1;
}
.wtn-movie-card-delete-button {
  margin-left: 10px;
}

.wtn-movie-card-name {
  margin: 0px 0px 5px;
}
.wtn-movie-card-release {
  font-size: 12px;
  font-style: italic;
}

.wtn-movie-card-details {
  margin: 8px 0px;
}
.wtn-movie-card-details > h3 {
  margin: 8px 0px;
}
.wtn-movie-card-details > ul {
  margin: 0px;
}

.wtn-movie-card-footer {
  border-top: solid 1px #fff;
  padding-top: 8px;
  text-align: right;
}
.wtn-movie-card-footer > button {
  cursor: pointer;
}
.wtn-movie-card-footer > button[disabled] {
  background-color: rgb(0, 174, 255);
  color: #000;
}
