.wtn-movie-card {
  position: relative;
  display: inline-grid;
  grid-template-rows: min-content 1fr;
  border: solid 1px white;
  padding: 10px;
  width: 300px;
}

.wtn-movie-card-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}
@media (hover: hover) {
  .wtn-movie-card-controls {
    opacity: 0.2;
  }
  .wtn-movie-card-controls:hover,
  .wtn-movie-card-controls:active {
    opacity: 1;
  }
}
@media (hover: none) {
  .wtn-movie-card-controls {
    opacity: 0.5;
  }
}
.wtn-movie-card-delete-button {
  margin-left: 10px;
}

.wtn-movie-card-name {
  margin: 0px 0px 5px;
}
.wtn-movie-card-release {
  font-size: 12px;
  font-style: italic;
}

.wtn-movie-card-details {
  margin: 8px 0px;
}
.wtn-movie-card-details > h3 {
  margin: 8px 0px;
}
.wtn-movie-card-details > ul {
  margin: 0px;
}

.wtn-movie-card-footer {
  border-top: solid 1px #fff;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wtn-movie-card-rate-button-label {
  display: inline-block;
  padding-left: 5px;
  line-height: 20px;
}
