<div class="wtn-movie-card-header">
  <a class="wtn-movie-card-link" target="_blank"><h2 class="wtn-movie-card-name"></h2></a>
  <span class="wtn-movie-card-release"></span>
</div>
<div class="wtn-movie-card-details">
  <h3>Directors</h3>
  <ul class="wtn-movie-card-directors"></ul>
  <h3>Producers</h3>
  <ul class="wtn-movie-card-producers"></ul>
  <h3>Cast</h3>
  <ul class="wtn-movie-card-cast"></ul>
</div>
<div class="wtn-movie-card-footer">
  <button class="wtn-movie-card-likes-button">
    <i class="far fa-thumbs-up"></i>
    <span class="wtn-movie-card-likes">0</span>
  </button>
  <button class="wtn-movie-card-dislikes-button">
    <i class="far fa-thumbs-down"></i>
    <span class="wtn-movie-card-dislikes">0</span>
  </button>
</div>
