<div class="wtn-movie-card-header">
  <a class="wtn-movie-card-link" target="_blank"><h2 class="wtn-movie-card-name"></h2></a>
  <div class="wtn-movie-card-controls">
    <button type="button" class="wtn-movie-card-edit-button" aria-label="Update"><i class="far fa-edit"></i></button>
    <button type="button" class="wtn-movie-card-delete-button" aria-label="Delete"><i class="far fa-trash-alt"></i></button>
  </div>
  <span class="wtn-movie-card-release"></span>
</div>
<div class="wtn-movie-card-details">
  <h3>Directors</h3>
  <ul class="wtn-movie-card-directors"></ul>
  <h3>Producers</h3>
  <ul class="wtn-movie-card-producers"></ul>
  <h3>Cast</h3>
  <ul class="wtn-movie-card-cast"></ul>
</div>
<div class="wtn-movie-card-footer">
  <wtn-rating class="wtn-movie-card-rating"></wtn-rating>
  <button class="wtn-movie-card-rate-button">
      <i class="far fa-star"></i><span class="wtn-movie-card-rate-button-label">Rate</span>
  </button>
</div>
