.page-home {
    display: flex;
    margin: auto;
    align-items: center;
    min-height:  150px;
}
.page-home:after {
    content: "";
    background: #fff url(./../../assets/images/codingtheworld.jpg) 0px 0px no-repeat;
    background-size: contain;
    background-position-x: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}