<form is="wtn-form" class="wtn-movie-card-form">
  <label>
    <span>Name</span>
    <input type="text" name="name" placeholder="Name" />
  </label>
  <label>
    <span>Release Date</span>
    <input type="date" name="release" />
  </label>
  <label>
    <span>Directors</span>
    <wtn-multi-text-input name="directors"></wtn-multi-text-input>
  </label>
  <label>
    <span>Producers</span>
    <wtn-multi-text-input name="producers"></wtn-multi-text-input>
  </label>
  <label>
    <span>Cast</span>
    <wtn-multi-text-input name="cast"></wtn-multi-text-input>
  </label>
  <div class="wtn-movie-card-controls">
    <button type="submit" class="wtn-movie-card-submit">Confirm</button>
  </div>
</form>
