.movie-cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 615px) {
  .movie-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 925px) {
    .movie-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  