.movie-cards-controls {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie-cards {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 615px) {
  .movie-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 925px) {
  .movie-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie-cards .wtn-movie-card .wtn-movie-card-link {
  color: rgb(128, 236, 255);
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}
.movie-cards .wtn-movie-card .wtn-movie-card-link:hover,
.movie-cards .wtn-movie-card .wtn-movie-card-link:active {
  color: rgb(180, 244, 255);
  animation: none;
}

.movie-cards-rate-editor-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.movie-cards-message {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: rgb(128, 236, 255);
  text-shadow: 0 0 5px #000, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
}