/* Application */
html, body {
    margin: 0px;
}
html, body, .app, .main {
  height: 100%;
  overflow: hidden;
}
.app {
  background-color: rgb(80, 80, 80);
  display: block;
  position: relative;
  width: 100%;
}
.main {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0px 0px 5px 5px #d8d8d8;
  min-width: 300px;
  max-width: 1024px;
  min-height: 300px;
}
.page {
  flex: 1;
  overflow: auto;
}
.page-base {
  width: 100%;
}
.header,
.page,
.footer {
  display: flex;
  padding: 15px;
  position: relative;
}

/* Restyling web components */
wtn-modal-dialog {
  --modal-dialog-ok-bg-color: #bada55;
  --modal-dialog-cancel-bg-color: #b00b1e;
}

/* Restyling native components */
a {
  color: rgb(0, 174, 255);
}
a:hover,
a:active,
a:focus {
  color: rgb(115, 211, 255);
}
a:visited {
  color: #fff;
}
button,
select {
  background-color: black;
  color: white;
  border: solid 1px #fff;
  cursor: pointer;
}
button:hover,
button:active,
button:focus {
  box-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff;
  background-color: rgb(0, 174, 255);
  color: #000;
}