/* Application */
.app {
    display: block;
    position: relative;
    padding: 15px 0px;
    width: 100%;
    top: 0px;
    bottom: 0px;
}
.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 0px 5px 5px #d8d8d8;
    min-width: 300px;
    max-width: 1024px;
    height: calc(100vh - 46px);
    min-height: 300px;
}
.page {
    flex: 1;
    overflow: auto;
}
.header,
.page,
.footer {
    display: flex;
    padding: 15px;
    position: relative;
}
.header,
.footer {
    max-height: 30px;
}
.header {
    align-items: flex-start;
    justify-content: space-between;
}
.footer {
    align-items: flex-end;
}

modal-dialog {
    --modal-dialog-ok-bg-color: #bada55;
    --modal-dialog-cancel-bg-color: #b00b1e;
}